form {
  width: 1170px;
  margin: auto;
  display: flex;
  gap:20px;
  margin-bottom: 20px;
}
form input{
  height: 40px;
  flex-basis: 80%;
}
form button{
  flex-basis: 20%;
}
h1 {
  text-align: center;
}
.outerdiv{
  text-align: center;
  width: 1170px;
  margin: auto;
}
.outerdiv ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.outerdiv ul li{
  padding: 10px;
  color: white;
  background-color: black;
  font-size: 25px;
  margin-bottom: 20px;
  position: relative;
}
.outerdiv ul li span{
  right: 20px;
  position: absolute;
  cursor: pointer;
}
.completetodo{
  text-decoration: line-through;
  color: red;
  background-color: yellow;
}